body {
    margin-top: 151px;
    font-family: 'Noto Sans', sans-serif;
}

.wrapper {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    background-color: #EFEFEF;
}

.wrapper-content {
    max-width: 1004px;
    margin-left: auto;
    margin-right: auto;
}

/* Navbar */

.background-nav {
    background-color: #BFB5A2;
    width: 100%;
    height: 130px;
}

.navbar {
    background: transparent;
    height: 130px;
    width: 100%;
    padding: 0;
}

.menu {
    margin: 0;
}

.nav-link {
    color: var(--unnamed-color-303030);
    text-align: left;
    font: normal normal bold 14px/19px Noto Sans;
    letter-spacing: 0px;
    color: #303030;
    text-transform: uppercase;
    opacity: 1;
    margin-right: 30px;
}

.logo {
    position: absolute;
    left: 50%;
    transform:  translateX(-50%);
    top: 0px;
    width: 186px;
    height: 170px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}

.logo img {
    top: 34px;
    width: 155px;
    height: 111px; 
}

.grupo {
    position: relative;
    top: 34px;
    width: 155px;
    height: 111px;
}


.left {
    margin-left: auto;
    margin-right: 0;
}

.socials {
    display: inline;
    margin-right: 42px;
}

.facebook-link:hover, .instagram-link:hover, .twitter-link:hover {
    text-decoration: none;
    opacity: 0.8;
}

.facebook-link {
    width: 11px;
    height: 21px;
    margin-right: 5px;
}

.instagram-link {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.twitter-link {
    width: 22px;
    height: 17px;
}

.carrinho-link {
    display: inline;
    top: 52px;
    width: 26px;
    height: 24px;
    margin: 0;
    padding: 0;
}

.carrinho-itens {
    background: #D6613E 0% 0% no-repeat padding-box;
    width: 28px;
    height: 28px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal bold 14px/19px Noto Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    border-radius: 6px;
    transform: translateX(-10px);
}

.retangulo {
    top: 130px;
    width: 100%;
    height: 21px;
    background: #D6CEBF 0% 0% no-repeat padding-box;
}

/* Banner */

.banner {
    position: relative;
    margin: 0;
    width: 100%;
    height: 447px;
}

.banner img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.titulo-banner {
    position: absolute;
    margin-top: 122px;
    width: 265px;
    height: 105px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 40px/50px Noto Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.our-products {
    position: absolute;
    top: 260px;
    width: 218px;
    background: var(--unnamed-color-d6613e) 0% 0% no-repeat padding-box;
    background: #D6613E 0% 0% no-repeat padding-box;
    color: var(--unnamed-color-ffffff);
    font: normal normal bold 14px/19px Noto Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

/* História */

.historia {
    position: relative;
    margin-top: 92px;
    margin-bottom: 116px;
}

.foto img {
    width: 456px;
    height: 332px;
    margin-left: 48px;
}

.texto {
    margin-left: 53px;
    color: #646464;
}

.texto .titulo {
    text-align: left;
    font: normal normal bold 30px/45px Noto Sans;
    letter-spacing: 0px;
    opacity: 1;
}

.texto .linha {
    width: 97px;
    height: 2px;
    margin: 19px 0 47px 0;
    background: var(--unnamed-color-d6613e) 0% 0% no-repeat padding-box;
    background: #D6613E 0% 0% no-repeat padding-box;
}

.texto .descricao {
    width: 399px;
    height: 205px;
    font: normal normal normal 16px/30px Noto Sans;
}

/* Produtos */

.produtos {
    position: relative;
}

.card {
    width: auto;
    height: 448px;
    padding-bottom: 20px;
    border: none;
    margin: 0 0 43px 0;
    display: none;
    border-radius: 0;
    -webkit-appearance: none;
}

.card-title {
    color: var(--unnamed-color-d6613e);
    text-align: left;
    font: normal normal bold 18px/24px Noto Sans;
    letter-spacing: 0px;
    color: #D6613E;
    opacity: 1;
}

.card-text {
    position: absolute;
    text-align: left;
    font: normal normal normal 18px/30px Noto Sans;
    letter-spacing: 0px;
    color: #646464;
    opacity: 1;
    bottom: 20px;
}

.more {
    position: relative;
    text-align: center;
}

#loadMore {
    width: 138px;
    height: 35px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal bold 14px/19px Noto Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: var(--unnamed-color-d6613e) 0% 0% no-repeat padding-box;
    background: #D6613E 0% 0% no-repeat padding-box;
    border-radius: 26px;
    opacity: 1;
}

#loadMore:hover {
    text-decoration: none;
    color: #FFFFFF;
}

/* Modal */

.modal {
    background: #00000034 0% 0% no-repeat padding-box;
    opacity: 1;
}

.modal-dialog {
    margin: 154px auto;
    max-width: 748px;
    
}

.modal-content {
    width: 100%;
    height: 493px;
}

.modal-body .row {
    margin: 45px 42px;
    height: 403px;
}

.close {
    position: relative;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 14px;
    height: 21px;
}

.modal-img {
    position: relative;
    width: 100%;
    height: 297px;
}

.modal-text {
    position: relative;
}

.modal-title {
    color: var(--unnamed-color-d6613e);
    text-align: left;
    font: normal normal bold 18px/24px Noto Sans;
    letter-spacing: 0px;
    color: #D6613E;
    opacity: 1;
}

.modal-price {
    text-align: left;
    font: normal normal normal 18px/30px Noto Sans;
    letter-spacing: 0px;
    color: #646464;
    opacity: 1;
    margin: 7px auto 24px auto;
}

.modal-description {
    text-align: left;
    font: normal normal normal 16px/30px Noto Sans;
    letter-spacing: 0px;
    color: #646464;
    opacity: 1;
}

.counter {
    position: absolute;
    display: flex;
    height: 34px;
    font-size: 21px; 
    bottom: 0;
}

.counter button {
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: gray;
}

.add-car {
    position: absolute;
    display: flex;
    right: 0;
    bottom: 0;
}

#add-car-btn {
    width: 225px;
    height: 34px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal bold 14px/19px Noto Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: var(--unnamed-color-d6613e) 0% 0% no-repeat padding-box;
    background: #D6613E 0% 0% no-repeat padding-box;
    border-radius: 26px;
    opacity: 1;
}

#add-car-btn:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.gallery .row {
    width: 100%;
    height: 82px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.gallery #expandedImg {
    position: relative;
    width:100%; 
    padding-bottom: 23px;
}

.gallery .row img {
    opacity: 0.8;
    cursor: pointer;
    height: 82px;
}

.gallery .row img:hover {
    opacity: 1;
}

.gallery .container {
    position: relative;
}
  
/* Contato */

.contato {
    position: relative;
    margin-top: 84px;
    height: auto;
}

.contato .texto {
    width: 472px;
    height: 132px;
    color: var(--unnamed-color-858585);
    text-align: left;
    font: normal normal bold 35px/42px Noto Sans;
    letter-spacing: 0px;
    color: #858585;
    opacity: 1;
    margin: 0;
}

.contato form {
    margin-top: 40px;
    margin-bottom: 155px;
}

.form-group {
    height: 32px;
    margin-bottom: 15px;
}

.contato label {
    color: var(--unnamed-color-858585);
    text-align: left;
    font: normal normal normal 16px/30px Noto Sans;
    letter-spacing: 0px;
    color: #858585;
    text-transform: uppercase;
    opacity: 1;
}

.col-sm-10 input, textarea {
    margin-left: 10px;
    border-radius: 0;
    color: var(--unnamed-color-858585);
    text-align: left;
    font: italic normal 300 14px/19px Noto Sans;
    letter-spacing: 0px;
    color: #858585;
    opacity: 1;
}

#exampleInputMsg {
    height: 110px;
    border-radius: 0;
    color: var(--unnamed-color-858585);
    text-align: left;
    font: italic normal 300 14px/19px Noto Sans;
    letter-spacing: 0px;
    color: #858585;
    opacity: 1;
}

#enviar {
    width: 138px;
    height: 35px;
    background: var(--unnamed-color-d6613e) 0% 0% no-repeat padding-box;
    background: #D6613E 0% 0% no-repeat padding-box;
    border-radius: 26px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal bold 14px/19px Noto Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    margin: 23px 10px;
}

.local {
    box-sizing: border-box;
    position: relative;
    height: 460px;
    max-width: 409px;
    float: right;
    margin: 0;
    padding: 26px 33px;
    background: var(--unnamed-color-d6613e) 0% 0% no-repeat padding-box;
    background: #D6613E 0% 0% no-repeat padding-box;
    opacity: 1;
}

.local .texto {
    max-width: 342px;
    height: 65px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 25px/30px Noto Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-bottom: 15px;
    opacity: 1;
}

.local .imagem {
    max-width: 342px;
    height: 225px;
    margin-bottom: 10px;
}

.local .imagem img {
    object-fit: cover;
}

.endereco {
    display: inline-flex;
    margin-bottom: 20px;
}

.endereco img {
    width: 10px;
    height: 15px;
    margin-right: 9px;
}

.endereco div {
    width: 323px;
    height: 38px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal 300 14px/18px Noto Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

#rota {
    width: 166px;
    height: 35px;
    border: 1px solid var(--unnamed-color-ffffff);
    border: 1px solid #FFFFFF;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal bold 14px/19px Noto Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 26px;
    opacity: 1;
}

/* Footer */

.footer {
    position: relative;
    padding-top: 155px;
}

.footer .logo-info {
    border-bottom: 1px solid #C8C8C8;
    opacity: 1;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.footer .logo-footer {
    width: 155px;
    height: 111px;
    filter: grayscale(100%);
    opacity: 0.5;
    margin-right: 104px;
 
}

.footer .info {
    width: 318px;
    height: 118px;
    list-style-type: none;
    color: var(--unnamed-color-858585);
    text-align: left;
    font: normal normal bold 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #858585;
    padding: 0;
}

.footer .linha {
    margin: 17px;
    width: 40px;
    height: 0px;
    border: 1px solid #C8C8C8;
}

.footer .endereco {
    color: var(--unnamed-color-858585);
    text-align: left;
    font: normal normal 300 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #858585;
}

.up {
    position: absolute;
    display: block;
    width: 55px;
    height: 35px;
    right: 0;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
}

.up img {
    object-fit: cover;
}

.copyright {
    box-sizing: border-box;
    width: 663px;
    height: 50px;
    text-align: center;
    font: normal normal 300 12px/20px Noto Sans;
    letter-spacing: 0px;
    color: #5B5B5B;
    opacity: 1;
    margin: auto;
    padding: 15px;
}


/* Medium screens*/

@media screen and (max-width: 985px) {

    /* Navbar */

    .retangulo {
        width: auto;
    }

    .menu {
        margin: 50px;
    }

    .carrinho-link {
        margin-right: 40px;
    }

    /* Banner */

    .banner-texto {
        margin-left: 50px;
    }

    /* História */

    .historia .col {
        display: flex;
        justify-content: center;
    }
    
    .texto {
        margin-top: 21px;
        margin-left: 0;
    }

    /* Produtos */

    .produtos {
        margin-left: 50px;
        margin-right: 50px;
    }

    /* Contato */

    .contato {
        margin-left: 50px;
        margin-right: 50px;   
    }

    .local {
        float: left;
        margin-top: 21px;   
    }

    /* Footer */
    .footer {
        margin-left: 50px;
        margin-right: 50px;
    }

}

/* Smmalls Screens */
@media screen and (max-width: 760px) {

}